
{% extends "/dashboard-layout.html.twig" %}


	{% block head %}

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />
  <link rel="stylesheet" href="{{ asset('resources/static/js/app.css') }}"/>
	{% endblock %}

				{% block title %}
				<h2>Membres</h2>
				{% endblock %}

				{% block pageactuelle %}Espace admin : Membres{% endblock %}

    {% block body %}
							
<section class="panel panel-featured-left panel-featured-quartenary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-quartenary">
														<i class="fa fa-user"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Nombre total de membres</h4>
														<div class="info">
															<strong class="amount">{{nbUsers}}</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>

									<h3> Créer un nouveau membre </h3>
									{# {{ form_start(form-create) }}
															{{ form_row(form.username, {'attr': {'class': 'form-control input-lg mb-md', 'placeholder': 'Identifiant'}} ) }}
															{{ form_row(form.email, {'attr': {'class': 'form-control input-lg mb-md', 'placeholder': 'Adresse e-mail'}} ) }}
															{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control input-lg mb-md', 'placeholder': 'Mot de passe'}} ) }}
															{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control input-lg mb-md', 'placeholder': 'Confirmer le mot de passe'}} ) }}
											<button class="mb-xs mt-xs mr-xs btn btn-lg btn-default" type="submit">Créer</button>
														   {{ form_end(form-create) }} #}
										<h3 class="panel-title">Supprimer un utilisateur </h3>
					
															{{ form_start(form) }}
															{{ form_row(form.removeName, {'attr': {'class': 'form-control input-lg mb-md', 'placeholder': 'Identifiant'}} ) }}
															<button class="mb-xs mt-xs mr-xs btn btn-lg btn-default" type="submit">Supprimer</button>
														   {{ form_end(form) }}
															 
									<h3> Rechercher un membre </h3>

		<div id="listeMembre" data-items="{{ data|json_encode }}">
									
		
    							</div>
									
		
    							</div>
	<div class="row">
	<div>
	
			
	</div>
		
								</section>
							</div>
						</div> 

    {% endblock %}

    {% block javascript %}
	<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/store-js/store.js"></script>
	 
		<script type="text/javascript" src="{{ asset('resources/static/js/listeMembre.js') }}"></script>
		<script type="text/javascript" src="{{ asset('resources/static/js/indexMembre.js') }}"></script>
		<script type="text/javascript" src="{{ asset('resources/static/js/runtime.js') }}"></script>

    {% endblock %}