<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Estimation.com{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% block stylesheets %}

  <!-- Favicons -->
  <link href="{{ asset('resources/img/favicon.png') }}" rel="icon">
  <link href="{{ asset('resources/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ asset('resources/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ asset('resources/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Pratt
    Template URL: https://templatemag.com/pratt-app-landing-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->

  {% endblock %}

</head>


<body data-spy="scroll" data-offset="0" data-target="#navigation">

    {% block flash %}
            {{include('flash.html.twig')}} 
{% endblock %}

{% block menu %}

{% endblock %}

    {% block body %}

    {% endblock %}


  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Estimation.com</strong>. All Rights Reserved 
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Pratt template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

   {% block javascripts %}

  <!-- JavaScript Libraries -->
  <script src="{{ asset('resources/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('resources/lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('resources/lib/php-mail-form/validate.js') }}"></script>
  <script src="{{ asset('resources/lib/easing/easing.min.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ asset('resources/js/main.js') }}"></script>

    {% endblock %}

</body>
</html>