{% extends "/dashboard-layout.html.twig" %}

		{% block head %}

		{{ parent() }}

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" />
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}" />
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/morris/morris.css') }}" />

		{% endblock %}
				{% block title %}
				<h2> Tableau de bord </h2>
				{% endblock %}

				{% block pageactuelle %} Tableau de bord {% endblock %}

					{% block body %}

					A faire

					{% endblock %}

		{% block javascripts %}

		<!-- Specific Page Vendor -->
		<script src="{{ asset('resources/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jquery-appear/jquery.appear.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/flot/jquery.flot.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/flot-tooltip/jquery.flot.tooltip.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/flot/jquery.flot.pie.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/flot/jquery.flot.categories.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/flot/jquery.flot.resize.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jquery-sparkline/jquery.sparkline.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/raphael/raphael.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/morris/morris.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/gauge/gauge.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/snap-svg/snap.svg.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/liquid-meter/liquid.meter.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/jquery.vmap.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/jquery.vmap.world.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js') }}"></script>
		<script src="{{ asset('resources/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js') }}"></script>

		{% endblock %}