{% extends "/dashboard-layout.html.twig" %}


	{% block head %}

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />

	{% endblock %}

				{% block title %}
				<h2>Domotique </h2>
				{% endblock %}

				{% block pageactuelle %}Domotique {% endblock %}

    {% block body %}

	<div class="row">
							<div class="col-xs-12">
									<header class="panel-heading">
									<h2 class="panel-title">Domotique</h2>
									</header>

                                    
													<div class="form-group">
													{{ form_start(form) }}
													<br><br>
														
														{{ form_label(form.regularisationChauffage, "cochez les équipements de votre maison  :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.regularisationChauffage, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
				
														</div>
														
														{{ form_label(form.eclairageAuto, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.eclairageAuto, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div>
														{{ form_label(form.ouvertureFermetureAuto, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.ouvertureFermetureAuto, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div>
                                                        {{ form_label(form.autonomieEau, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.autonomieEau, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div>
														{{ form_label(form.detecteurEtAlarme, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.detecteurEtAlarme, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div>
														  <button class="mb-xs mt-xs mr-xs btn btn-lg btn-default" type="submit">Valider</button>
														   {{ form_end(form) }}
													</div>
													<br>
					
						
									</div>
									<div class="panel-footer">
										<ul class="pager">

										</ul>
									</div>
								</section>
							</div>
						</div>

    {% endblock %}

    {% block javascript %}
	<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/store-js/store.js"></script>

    {% endblock %}
