{% extends "/dashboard-layout.html.twig" %}

	{% block head %}

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />

	{% endblock %}

				{% block title %}
				<h2> Préparation et accès du terrain </h2>
				{% endblock %}

				{% block pageactuelle %} Préparation et accès du terrain {% endblock %}

    {% block body %}

	<div class="row">
							<div class="col-xs-12">
									<header class="panel-heading">
									<h2 class="panel-title">Préparation et accès du terrain</h2>
									</header>
													<div class="form-group">
													{{ form_start(form) }}
													<br><br>
															{{ form_label(form.nb_pins, "Quel est le nombre de pins dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.nb_pins, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}
                                                        </div>      

                                                        {{ form_label(form.nb_sapins, "Quel est le nombre de sapins dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9">
															{{ form_row(form.nb_sapins, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                        {{ form_label(form.nb_bouleaux, "Quel est le nombre de bouleaux dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															{{ form_row(form.nb_bouleaux, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                          {{ form_label(form.nb_chenes, "Quel est le nombre de chenes dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                        <div class="col-sm-9">
															{{ form_row(form.nb_chenes, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                         {{ form_label(form.nb_erables, "Quel est le nombre d'erables dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															{{ form_row(form.nb_erables, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                         {{ form_label(form.nb_frenes, "Quel est le nombre de frenes dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															{{ form_row(form.nb_frenes, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                         {{ form_label(form.nb_noyers, "Quel est le nombre de noyers dans votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															{{ form_row(form.nb_noyers, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														</div>
                                                         {{ form_label(form.nb_autres, "Indiquez  le nombre d'arbre d'un autre type non cité.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.nb_autres, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}      
													
														    </div>
                                                            {{ form_label(form.taille_pins, "Indiquez  la taille moyenne des pins.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_pins, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}
                                                                </div> 

                                                            {{ form_label(form.taille_sapins, "Indiquez  la taille moyenne des sapins.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_sapins, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div>
                                                            
                                                            {{ form_label(form.taille_bouleaux, "Indiquez  la taille moyenne des bouleaux.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_bouleaux, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div>
                                                           
                                                            {{ form_label(form.taille_chenes, "Indiquez  la taille moyenne des chenes.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_chenes, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div> 
                                                           
                                                            {{ form_label(form.taille_erables, "Indiquez  la taille moyenne des erables.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_erables, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div> 
                                                           
                                                            {{ form_label(form.taille_frenes, "Indiquez  la taille moyenne des frenes.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_frenes, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div> 
                                                           
                                                            {{ form_label(form.taille_noyers, "Indiquez  la taille moyenne des noyers.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_noyers, {'attr': {'class': 'form-control input-lg mb-md'}} ) }} 
                                                                </div>
                                                            
                                                            {{ form_label(form.taille_autres, "Indiquez  la taille moyenne d'arbre de d'un autre type.", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.taille_autres, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}
                                                                </div>                           
													
														    </div> 

                                                            {{ form_label(form.positionTerrain, "Quelle est la position de votre terrain ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}	
                                                            
                                                           <div class="col-sm-9">
															    {{ form_row(form.positionTerrain, {'attr': {'class': 'form-control input-lg mb-md'}} ) }}
                                                                </div>                           
													
														    </div> 
                                                            
                                                            
                                                            
                                                        <button class="mb-xs mt-xs mr-xs btn btn-lg btn-default" type="submit">Valider</button>
                                                        {{ form_end(form) }}
													</div>
													<br>
                                                    
                                                    
                                                    
                                                    
					
						
									</div>
									<div class="panel-footer">
										<ul class="pager">

										</ul>
									</div>
								</section>
							</div>
						</div>

    {% endblock %}

    {% block javascript %}
	<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/store-js/store.js"></script>

    {% endblock %}