{% extends "/dashboard-layout.html.twig" %}

		{% block head %}

		{{ parent() }}

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" />
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}" />
		<link rel="stylesheet" href="{{ asset('resources/assets/vendor/morris/morris.css') }}" />

		{% endblock %}

				{% block title %}<h2>Votre projet : {{projet.nom}}</h2>{% endblock %}
				{% block pageactuelle %}{{projet.nom}} - Second oeuvre{% endblock %}

					{% block body %}

	<div class="row">
							<div class="col-xs-12">
									<header class="panel-heading">
									<h2 class="panel-title">{{projet.nom}} - Second oeuvre</h2>
									</header>
                                    <br>
									<h4> {% if nbform < 11 %} Vous avez rempli {{nbform}} formulaire(s) sur 12 pour le second oeuvre de votre chantier. 
										{% else %} Vous avez renseigné toutes les informations nécessaires pour le second oeuvre.
										 {% endif %} </h4>
		<div class="row">
			{% if (nbform/11)*100 < 25 %}
									<div class="progress progress-striped light active m-md">
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{(nbform/11)*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(nbform/11)*100}}%;">
											{% if nbform == 11 %} Terminé {% else %} En cours {% endif %}
										</div>
									</div>
			{% elseif (nbform/11)*100 > 25 and (nbform/11)*100 < 75 %}
												<div class="progress progress-striped light active m-md">
										<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{(nbform/11)*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(nbform/11)*100}}%;">
											{% if nbform == 11 %} Terminé {% else %} En cours {% endif %}
										</div>
									</div>
			{% else %}
												<div class="progress progress-striped light active m-md">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{(nbform/11)*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(nbform/11)*100}}%;">
											{% if nbform == 11 %} Terminé {% else %} En cours {% endif %}
										</div>
									</div>
			{% endif %}
			<br> <br>
						<div class="col-md-4" data-plugin-portlet id="portlet-1">
							<section class="panel panel-primary" id="panel-1" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>
								 <h2 class="panel-title">L'enduit de façade</h2>
								</header>
								<div class="panel-body">
								...
									</div>
							</section>
							<section class="panel panel-secondary" id="panel-2" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">L’isolation thermique et phonique</h2>
								</header>
								<div class="panel-body">
								....

							</div>
							</section>
							<section class="panel panel-tertiary" id="panel-3" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">Le revêtement intérieur</h2>
								</header>
								<div class="panel-body" >
								...
																
															</div>
							</section>
								<section class="panel panel-primary" id="panel-1" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#"  class="fa fa-caret-down" ></a>
									</div>

									<h2 class="panel-title">Les cloisons intérieures</h2>
								</header>
								<div class="panel-body" }>
								...							</div>
							</section>
						</div>
						<div class="col-md-4" data-plugin-portlet id="portlet-2">
							<section class="panel panel-quartenary" id="panel-4" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">Evacuation des fumées</h2>
								</header>
								<div class="panel-body">
								...								</div>
							</section>
							<section class="panel panel-success" id="panel-5" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">Les menuiseries intérieures</h2>
								</header>
								<div class="panel-body">
								...								</div>
							</section>
							<section class="panel panel-warning" id="panel-6" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">Les escaliers</h2>
								</header>
								<div class="panel-body">
								...								</div>
							</section>
								<section class="panel panel-quartenary" id="panel-4" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>

									<h2 class="panel-title">La plomberie</h2>
								</header>
								<div class="panel-body">
								...							</div>
							</section>
						</div>
						<div class="col-md-4" data-plugin-portlet id="portlet-3">
							<section class="panel panel-info" id="panel-7" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down" ></a>
									</div>

									<h2 class="panel-title">L’électricité</h2> </a>
								</header>
								<div class="panel-body" >
								...								</div>
							</section>
							<section class="panel panel-dark" id="panel-8" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down" }></a>
									</div>

									<h2 class="panel-title">La ventilation</h2>
								</header>
									<div class="panel-body" {% if ventilation != null %} style="display: none;" {% endif %}>
									{% if ventilation == null %} 
									Vous n'avez pas encore rempli ce formulaire. <br>
									<a href="{{ path('ventilation', {'id': projet.id}) }}"> Cliquez ici pour le remplir.</a>
									{% else %}
									Vous avez déjà rempli ce formulaire. <br>
									Récapitulatif : <br>
									Type de Ventilation : <b>{{ventilation.typeVentilation}} <b/><br>
									<b> Sous-total : </b> {{ventilation.prix}} </b> €
									
									{% endif %}								</div>
							</section>

							<section class="panel panel-danger" id="panel-9" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down" ></a>
									</div>

									<h2 class="panel-title">La climatisation</h2>
								</header>
								<div class="panel-body" {% if climatisation != null %} style="display: none;" {% endif %}>
									{% if climatisation == null %} 
									Vous n'avez pas encore rempli ce formulaire. <br>
									<a href="{{ path('climatisation', {'id': projet.id}) }}"> Cliquez ici pour le remplir.</a>
									{% else %}
									Vous avez déjà rempli ce formulaire. <br>
									Récapitulatif : <br>
									<b>Type de climatisation : {{climatisation.typeClimatisation}}</b> <br>
									<b> Sous-total : </b> {{climatisation.prix}} </b> €
									
									{% endif %}								</div>
							</section>

							<section class="panel panel-info" id="panel-7" data-portlet-item>
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down" ></a>
									</div>

									<h2 class="panel-title">La domotique</h2> </a>
								</header>
								<div class="panel-body" {% if domotique != null %} style="display: none;" {% endif %}>
									{% if domotique == null %} 
									Vous n'avez pas encore rempli ce formulaire. <br>
									<a href="{{ path('domotique', {'id': projet.id}) }}"> Cliquez ici pour le remplir.</a>
									{% else %}
									Vous avez déjà rempli ce formulaire. <br>
									Récapitulatif : <br>
									{% if domotique.regularisationChauffage != null %}
									<b>Option Chauffage autonome<b>
									<br/>
									{% endif %}
									{% if domotique.eclairageAuto != null %}
									<b>Option Eclairage automatique<b>
									<br/>
									{% endif %}
									{% if domotique.ouvertureFermetureAuto != null %}
									<b>Option ouverture et fermeture automatique des fenêtre<b>
									<br/>
									{% endif %}
									{% if domotique.autonomieEau != null %}
									<b>Option Autonomie du débit d'eau<b>
									<br/>
									{% endif %}
									{% if domotique.detecteurEtAlarme != null %}
									<b>Option alarme et détecteurs<b>
									<br/>
									{% endif %}
									<b> Sous-total : </b> {{domotique.prix}} </b> €
									
									{% endif %}								</div>
							</section>

						</div>
					</div>
					
						
									</div>
									<div class="panel-footer">
										<ul class="pager">
										<a href="{{path('my-project', {'id': projet.id}) }}"> <button class="mb-xs mt-xs mr-xs btn btn-lg btn-default"
										type="button">Passer au gros oeuvre</button></a>
										</ul>
									</div>
								</section>
							</div>
						</div>

					{% endblock %}

		{% block javascripts %}

		{% endblock %}
