{% extends "/dashboard-layout.html.twig" %}


	{% block head %}

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/pnotify/pnotify.custom.css" />

	{% endblock %}

				{% block title %}
				<h2>Soubassement </h2>
				{% endblock %}

				{% block pageactuelle %}Soubassement {% endblock %}

    {% block body %}

	<div class="row">
							<div class="col-xs-12">
									<header class="panel-heading">
									<h2 class="panel-title">Soubassement: modification </h2>
									</header>

      
													<div class="form-group">
													{{ form_start(form) }}
													<br><br>
														<label class="col-sm-3 control-label">Quel est le type de soubassement voulez vous ? <span class="required"></span></label>
														<div class="col-sm-9">
															{{ form_widget(form.type_soubassement, {'id':'chk','attr': {'class': 'form-control input-lg mb-md','onClick':'validate()'}} ) }}           
														</div>
														<br/>
														
																										 
														<label id="teste4" class="col-sm-3 control-label">Cochez les matériaux utilisés <span class="required">*</span></label>

														<div class="col-sm-9" id="teste1">
															{{ form_row(form.tractopelle, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
				
														</div>
														
														{{ form_label(form.camion_benne, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9" id="teste2">
															{{ form_row(form.camion_benne, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div >
														{{ form_label(form.betonniere, " ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}													
														<div class="col-sm-9" id="teste3">
															{{ form_row(form.betonniere, {'attr': {'class': 'radio-custom radio-primary'}} ) }}           
														
														</div>
														
														  <button class="mb-xs mt-xs mr-xs btn btn-lg btn-default" type="submit">Valider</button>
														   {{ form_end(form) }}
													</div>
													<br>
					
						
									</div>
									<div class="panel-footer">
										<ul class="pager">

										</ul>
									</div>
								</section>
							</div>
						</div>

    {% endblock %}
	
	
    {% block javascript %}
		<script>
		
function validate(){
    var checked = document.getElementById('chk').value;
    if (checked != "vide-sanitaire"){
          	document.getElementById("teste1").style.visibility='hidden';
						document.getElementById("teste2").style.visibility='hidden';
						document.getElementById("teste3").style.visibility='hidden';
							document.getElementById("teste4").style.visibility='hidden';
    }else{
         document.getElementById("teste1").style.visibility='visible';
				  document.getElementById("teste2").style.visibility='visible';
					 document.getElementById("teste3").style.visibility='visible';
					  document.getElementById("teste4").style.visibility='visible';
    }
}
validate();
		</script>
	<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/store-js/store.js"></script>

    {% endblock %}
